.bottom-sheet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}
.bottom-sheet div {
    flex: 1;
    color: white;
}
button {
    color: black !important;
}
button.change {
    color: white !important;
}
